* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#000, #0ff, #dbcfcf)
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 20px;

}

.nav-logo img {
    margin: 20px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 8px black;
    transition: .5s;
}

.nav-logo img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 39px #fff;
}

.nav-head {
    font-size: 2rem;
    text-transform: uppercase;
    color: aliceblue;
    font-weight: 600;
}

.nav-contact {
    display: flex;
    gap: 15px;
}

.nav-contact a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    margin: 7px;
    border-radius: 20px;
}

.nav-contact a:hover {
    background-color: gray;
}

@media (max-width:760px) {
    .nav-head h1 {
        font-size: 1.5rem;
    }

    .nav-contact {
        flex-direction: column;
        text-align: center;
        gap: 0px;
    }

    .nav-contact a {
        font-size: .9rem;
        gap: 5px;
    }

    .nav-bar {
        flex-direction: column;
    }
}

.profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
    margin: 10px;
}

.icon {
    position: absolute;
    font-size: 80px;
    transition: .5s;
}

.icon:hover {
    transform: scale(1.1);
}

.left-icon {
    top: 70px;
    left: 200px;
}

.right-icon {
    right: 180px;
    bottom: 80px;
}

.profile-des h2 {
    font-size: 3rem;
    text-align: center;
    margin: 10px;
    color: #fff;
}

.profile-des p {
    font-size: 1.9rem;
    font-weight: 600;
    margin: 10px;
    color: #fff;
}

@media (max-width:760px) {
    .profile-des h2 {
        font-size: 1.9rem;
    }

    .profile-des p {
        font-size: 1rem;
    }

    .left-icon {
        left: 20px;
        top: 90px;
        font-size: 3rem;
    }

    .right-icon {
        right: 20px;
        bottom: 40px;
        font-size: 3rem;
    }

}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
    min-height: 100vh;

}

.about-me img {
    border-radius: 50%;
    margin: 20px;
    margin-left: 100px;
    transition: .5s;
}

.about-me img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 39px;
    color: rgb(166, 190, 190);
}

.about-des {
    text-align: justify;
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
}

hr {
    border: 3px solid black;
    border-bottom: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hrr {
    border: 8px dotted black;
    border-bottom: none;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.btn {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover {
    box-shadow: 0px 0px 10px 5px white;

}

@media (max-width: 768px) {

    .about-me {
        flex-direction: column;
        padding: 40px 20px;
        text-align: center;
    }

    .about-me img {
        width: 200px;
        height: 200px;
        margin-bottom: 40px;
        margin-right: 80px;
    }

    .about-des {
        max-width: 100%;
    }

    .about-des h2 {
        font-size: 32px;
    }

    .about-des p {
        font-size: 16px;
    }

    .about-des strong {
        font-size: 16px;
    }

}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    max-width: 1200px;   /* 🔴 সবচেয়ে গুরুত্বপূর্ণ */
    margin: 0 auto;      /* 🔴 center container */
    padding: 40px;
}




.card {
    border: 3px solid;
    padding: 10px;
    height: 450px;
    width: 340px;

    margin: 20px;
    border-radius: 20px;
    transition: .5s;



}

.card:hover {
    box-shadow: 0px 0px 20px;

}

.card-logo {
    text-align: center;
}

.card-logo img {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px;
    margin: 10px;
    text-align: center;
    transition: .5s;
}

.card-logo img:hover {
    transform: scale(1.1);

}

.card-des {
    margin: 20px;
}

.card-des h2 {
    margin: 10px 0px 10px;
    font-size: 1.6rem;
}

.card-des h4 {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.card-des p {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.card-skills {
    margin: 20px;
}

.card-logo.sk img {
    width: 100px;
    height: 90px;
}

.card-skills li {
    list-style: none;
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 18px;
    position: relative;
}

.card-skills li::before {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    transform: translateY(-50%);
    content: "";
    height: 10px;
    width: 100%;
    background-color: #000;
    border-radius: 1000px;
}

.card-skills li::after {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    transform: translateY(-50%);
    content: "";
    height: 10px;
    width: 0%;
    background-color: #c01d1d;
    border-radius: 1000px;

    animation-duration: 4s;
    animation-delay: .2s;
    animation-timing-function: ease initial;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.card-skills li.html::after {
    animation-name: html;
}

@keyframes html {
    to {
        width: 90%;
    }

}

.card-skills li.css::after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 70%;
    }

}

.card-skills li.js::after {
    animation-name: js;
}

@keyframes js {
    to {
        width: 40%;
    }

}

.card-skills li.ms::after {
    animation-name: ms;
}

@keyframes ms {
    to {
        width: 90%;
    }

}

.card-skills li.me::after {
    animation-name: me;
}

@keyframes me {
    to {
        width: 60%;
    }

}

@media (max-width:760px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
}

/* more ways to contact */
.from-box {
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    height: 450px;
    width: 340px;
    border: 3px solid;
    border-radius: 10px;
    justify-content: center; 

    transition: 0.5s;

}
.from-box:hover {
    box-shadow: 0px 0px 30px;
    transform: scale(1);
}

.from-box h2 {
    padding: 20px;
    text-align: center;

}

.input-box {
    position: relative;
    margin-bottom: 25PX;
    text-align: center;
}

.input-box input {
    padding: 15PX;
    border: none;
    border-radius: 10PX;
    width: 100%;
    outline: none;
    font-size: 18PX;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 20PX;
    transform: translateY(-50%);
    color: gray;
    font-size: 16PX;
    transition: .3S;
}

.input-box input:focus+label,
.input-box input:valid+label {
    top: -8px;
    color: #000;
    font-size: 12px;
}

.btd {
  
   
    padding: 10px;
   

    border: none;
    border-radius: 10px;
    outline: none;
    transition: .4s;
    width: 100%;

}

.btd:hover {
    box-shadow: 0px 0px 40px;
    background-color: #0ff;
    color: deeppink;
}
/* footer */

.footer {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20PX;
}
.footer P {
    font-size: 1.5rem;
    padding: 10px;
}
@media (max-width:760px) {

    .footer p {
        font-size: 1rem;
    }
    
}